@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: rgb(252, 252, 252);
  border-radius: 40%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.598);
  font-weight: 800;
}
.blob {
  background-image: url(../src/assets/photo_2024-05-15_11-02-44.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center center;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.animate-scroll {
  animation: scroll var(--animation-duration, 10s) linear infinite;
}



.scroller:hover {
  animation-play-state: paused;
}
